.breed-table-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
    justify-content: center;
}

.breed-table-title {
    text-align: center;
    padding-top: 50px;
}

.update-container {
    width: 80%;
    margin: auto;
    h1 {
        text-align: center;
    }
}
