.breed-table-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
    justify-content: center;
}

.breed-table-title {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.update-container {
    width: 70%;
    margin: auto;
    h1 {
        text-align: center;
    }
}

.admin-buttons {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}