@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Lobster|Rozha+One');

.hero-section {
    height: 110vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    h1 {
        color: white;
        font-size: 63px;
        text-transform: uppercase;
        letter-spacing: 6px;
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.hero-traits {
    width: 65%;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    span {
        color: white;
        font-size: 36px;
        font-family: 'Rozha One', serif;
        // font-family: 'Lobster', cursive;
        font-style: italic;
        letter-spacing: 1px;
        text-transform: lowercase;
        text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);
    }
}

.meet-the {
    margin-bottom: 15px;
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
}

.intro-section {
    margin: auto;
    margin-top: 25px;
    width: 75%;
    p {
        text-align: justify;
        text-indent: 50px;
    }
}

.breed-bottom-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.breed-video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0; 
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.video-player {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}

.breed-video-main {
    margin-top: 100px;
    h3 {
        text-align: center;
    }
}

@media (min-width: 760px){
    .intro-section {
        margin-top: 40px;
        width: 55%;
        font-size: 18px;
    }
    .video-player {   
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        width: 640px;
        height: 390px;
    }
    .breed-video-container {
        margin-top: -35px;
    }

}

@media (min-width: 1150px){
    .breed-video-container {
        margin-top: -125px;
    }
}