@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Lobster|Rozha+One');

.breed-top-section {
    height: 50vh;
    width: 100vw;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        color: white;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 4px;
        background-color: rgba(0, 0, 0, 0.5);
    }
    h1, span {
        position: relative;
        top: 60px;
    }
}

.hero-traits {
    width: 65%;
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    span {
        color: white;
        font-size: 13px;
        font-family: 'Rozha One', serif;
        font-style: italic;
        letter-spacing: 1px;
        text-transform: lowercase;
        text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);

    }
}

.meet-the {
    margin-bottom: 15px;
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
}

.intro-section {
    margin: auto;
    margin-top: 25px;
    width: 75%;
    p {
        text-align: justify;
        text-indent: 50px;
    }
}

.breed-bottom-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tab-container {
    width: 90%;
    margin: auto;
    margin-bottom: 100px;
    h2 {
        text-align: center;
    }
}

.hypo-container {
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
    height: 150px;
    margin: auto;
    }
}

.detail-container {
    width: 55%;
    margin: auto;
    margin-top: 40px;
    h2 {
        text-align: center;
    }
}

.video-wrapper {
    position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
    height: 0;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 740px){
    .intro-section {
        margin-top: 40px;
        width: 55%;
        font-size: 18px;
    }
    .tab-container {
        width: 65%;
    }
    .breed-top-section {
        height: 75vh;
        h1, span {
            top: 115px;
        }
        h1 {
            font-size: 36px;
            letter-spacing: 6px;
       }
    }
    .hero-traits {
        width: 65%;
        margin-top: 8px;
        span {
            font-size: 24px;
            margin-top: 8px;
            letter-spacing: 2px;
        }
    }
    .hypo-container {
        img {
        height: 200px;
        }
    }
}

@media (min-width:900px){
    .breed-top-section {
        height: 110vh;
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        h1 {
            font-size: 48px;
            letter-spacing: 6px;
        }
        h1, span {
            top: 120px;
        }
    }   
}

@media (min-width: 1150px){
    .breed-top-section {
        h1 {
            font-size: 63px;
        }
        h1, span {
            top: 150px;
        }
    } 
    .hero-traits {
        width: 65%;
        margin-top: 25px;
    span {
        font-size: 36px;
        letter-spacing: 1px;
        }
    } 
}


@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }

.fadeIn {
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}

.trait-2 {
    animation-duration: 2.3s;	
	-webkit-animation-duration: 2.3s;
}

.trait-3 {
    animation-duration: 3s;	
	-webkit-animation-duration: 3s;
}
