@import url('https://fonts.googleapis.com/css?family=Arapey:400,400i');

.full-logo {
    height: 200px;
    filter: drop-shadow(0 0 4px grey);
}

.full-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .links {
        width: 425px;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        li {
            font-size: 20px;
        }
        li:hover {
            border-top:2px solid grey;
            border-bottom: 2px solid grey;
            animation-name: pulse;
            -webkit-animation-name: pulse;	
        
            animation-duration: 1.5s;	
            -webkit-animation-duration: 1.5s;
        
            animation-iteration-count: infinite;
            -webkit-animation-iteration-count: infinite;
        }
    }
}

.selection {
    width: 275px;
    display: grid;
    grid-template-columns: 1fr 7fr;
    align-items: center;
}

.tagline {
    width: 100%;
    height: 40px;
    background-color: #f4f4f4;
    border-top: solid 1px lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    h5 {
        letter-spacing: 6px;
        text-transform: uppercase;
        font-family: 'Arapey', serif;
        // color: white;
        font-size: 16px;
    }
}


@media (max-width: 740px){
    .tagline {
        height: 30px;
    h5 {
        font-size: 14px;
        letter-spacing: 4px;
    }
    }
}


@keyframes pulse {
	0% {
		transform: scale(0.9);
		opacity: 0.7;		
	}
	50% {
		transform: scale(1);
		opacity: 1;	
	}	
	100% {
		transform: scale(0.9);
		opacity: 0.7;	
	}			
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(0.95);
		opacity: 0.7;		
	}
	50% {
		-webkit-transform: scale(1);
		opacity: 1;	
	}	
	100% {
		-webkit-transform: scale(0.95);
		opacity: 0.7;	
	}			
}