@import url('https://fonts.googleapis.com/css?family=Arapey:400,400i');

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid 3px #E9C22D;
}

.full-header {
    margin-top: 65px;
    max-height: 280px;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.split-header-container {
    height: 167px;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    span {
        color: black;
        text-transform: lowercase;
        font-size: 16px;
    }
    span:hover {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: bold;
    }
}

.header-logo{
    width: 300px;
    filter: drop-shadow(0 0 4px grey);
    padding: 5px;
}

.icon-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}

.span {
    color: black;
    text-transform: lowercase;
    font-size: 16px;
}
.span:hover {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.header-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    img {
        height: 40px;
        width: 40px;
    }
}

.search-container {
    background-color: #E9C22D;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    z-index: 9999;
    border-bottom: 1px solid gray;
}

.selection {
    max-width: 275px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-main {
    animation-name: slideLeft;
	-webkit-animation-name: slideLeft;	

	animation-duration: .5s;	
	-webkit-animation-duration: .5s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}

.hamburger-main {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hamburger-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 275px;
}

.footer {
    margin-top: 200px;
    width: 100%;
    height: 100px;
    background-color: #2E4057;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
        color: white;
        font-family: 'Arapey', serif;
        font-size: 16px;
        text-align: center;
        letter-spacing: 2px;
    }
    a {
        position: fixed;
        bottom: 0;
        right: 0;
        opacity: 0;
    }
}

.slide-right {
    -webkit-animation: slide-in-left 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-left 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

@media (min-width: 740px){
    .header-logo{
        width: 350px;
    }
    .icon-container {
        display: none;
    }
    .full-header {
        justify-content: space-between;
    }
    .hamburger-menu {
        justify-content: space-around;
        width: 300px;
    }
}

@media (min-width:1000px){
    .header-logo{
        width: 400px;
    }
    .split-header-container {
        width: 250px;
    }
}

@media (max-width:739px){
    .split-header-container {
        display: none;
    }
}

@-webkit-keyframes slideLeft {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slideLeft {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }

@-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  