.quiz-container {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    width: 65%;
    background-color: #E9C22D;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 300px;
    border-radius: 50px;
    padding: 30px;
    box-shadow: 0px 0px 74px 5px rgba(0,0,0,0.75);
    h1, .h3, h4 {
        text-align: center;
    }
    h1 {
        font-weight: 900;
        text-transform: uppercase;
    }
}

.h3 {
    font-weight: bold;
    margin-bottom: 7px;
    margin-top: 5px;
}

.size-select-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        height: 150px;
    }
    div {
        border-top: 1px solid #FCF7F8;
        width: 175px; 
        margin: 15px;
    }
}

.question-container {
    margin-top: 5px;
    width: 200px;
    height: 75px;
    background-color: rgba(228, 224, 224, 0.445);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    .h3 {
        font-size: 12px;
    }
}

.radio-container {
    border-radius: 5px;
    display: grid;
    grid-template-columns: 70px 70px 70px;
    grid-template-rows: 20px;
    align-items: center;
    span {
        text-align: center;
    }
}

.results-container {
    background: #e9c22d; /* Old browsers */
    background: -moz-linear-gradient(top, #e9c22d 0%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e9c22d 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e9c22d 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9c22d', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    width: 85%;
    box-shadow: none;
    h1 {
        text-transform: uppercase;
    }
}

@media (min-width:900px){
    .size-select-container {
        display: flex;
        flex-direction: row;
        div {
            border-top: none;
            border-left: 1px solid #FCF7F8;
            height: 125px; 
            margin: 20px;
            width: 0;
        }
    }
}

@media (min-width:768px){
    .question-container {
        width: 300px;
    }
    .h3 {
        font-size: 16px !important;
    }
}